/* Variables */
:root {
    --theme-switch-dur: 0.25s;
}

.light-theme {
    --primary-color: #202124;
    --secondary-color: #70757a;
    --bg-color: #fff;
    --header-btn-color: #5f6368;
    --header-btn-bg-hov: #3c40431a;
    --logo-filter: none;
    --search-input-border-color: #dfe1e5;
    --search-hov-bg-color: #fff;
    --search-btn-color: #3c4043;
    --search-btn-bg-color: #f8f9fa;
    --search-btn-hov-color: #dadce0;
    --link-color: #000000de;
    --langs-color: #3c4043;
    --langs-links-color: #1967d2;
    --footer-bg-color: #f2f2f2;
    --footer-partition-color: #dadce0;
}

.dark-theme {
    --primary-color: #fff;
    --secondary-color: #9aa0a6;
    --bg-color: #202124;
    --header-btn-color: #ffffffde;
    --header-btn-bg-hov: #e8eaed14;
    --logo-filter: brightness(0) invert(1);
    --search-input-border-color: #5f6368;
    --search-hov-bg-color: #303134;
    --search-btn-color: #e8eaed;
    --search-btn-bg-color: #303134;
    --search-btn-hov-color: #5f6368;
    --link-color: #fff;
    --langs-color: #bdc1c6;
    --langs-links-color: #8ab4f8;
    --footer-bg-color: #171717;
    --footer-partition-color: #212327;
}

/* RESETS & DEFAULTS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    color: var(--link-color);
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}
input[type="text"] {
    background: inherit;
    color: inherit;
}

/* PAGE */
html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    background: var(--bg-color);
    color: var(--primary-color);
    transition: background-color var(--theme-switch-dur) ease-out;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container > * {
    flex-shrink: 0;
}

/* HEADER */
header {
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    padding-right: 4px;
    display: flex;
    gap: 15px;
}

.theme-mode {
    padding-left: 10px;
    display: flex;
}

.theme-mode label {
    cursor: pointer;
}

#theme-toggle {
    position: absolute;
    top: -10000px;
}

#theme-toggle:focus-visible + label {
    outline: auto;
    outline-offset: 6px;
}

header ul > div,
header li a {
    display: flex;
    align-items: center;
}

#header-links {
    padding-bottom: 1px;
    gap: 15px;
}

#header-btns li,
#header-btns li a {
    outline: none;
    padding: 4px;
    border-radius: 50%;
    color: var(--header-btn-color);
    transition: background-color 0.25s;
}

#header-btns li a:hover,
#header-btns li a:focus {
    background-color: var(--header-btn-bg-hov);
}

#header-btns li[data-header-btn="google-apps"] a {
    padding: 8px;
}

#header-btns li[data-header-btn="google-account"] img {
    border-radius: 50%;
}

/* LOGO */
.google-logo-wrapper {
    display: flex;
    justify-content: center;
    height: clamp(150px, 100% - 560px, 290px);
}

.google-logo {
    margin-top: auto;
    max-height: 92px;
}

.google-logo img {
    filter: var(--logo-filter);
    transition: filter var(--theme-switch-dur) ease-out;
}

/* SEARCH */
.search-form-wrapper {
    padding: 20px;
    max-height: 160px;
}

.search-box {
    margin: 0 auto;
    padding-top: 6px;
    max-width: 584px;
}

.search-input-container {
    border: 1px solid var(--search-input-border-color);
    border-radius: 24px;
    transition: border var(--theme-switch-dur) ease-out;
}

.search-input-container:hover,
.search-input-container:focus-within {
    background: var(--search-hov-bg-color);
    box-shadow: 0 1px 6px #20212447;
    border-color: #dfe1e500;
    transition: background-color var(--theme-switch-dur) ease-out;
}

.search-input-wrapper {
    flex: 1;
    padding: 5px 8px 5px 14px;
    display: flex;
}

.search-icon-wrapper {
    padding-right: 13px;
    display: flex;
    align-items: center;
}

.mic-icon-wrapper {
    padding: 0 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.search-input {
    flex: 1;
    display: flex;
}

.search-input input {
    flex: 100%;
    border: none;
    outline: none;
    height: 34px;
    font-size: 16px;
}

.search-btns {
    padding-top: 18px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.search-btns input {
    outline: none;
    margin-top: 6px;
    padding: 0 16px;
    height: 36px;
    background-color: var(--search-btn-bg-color);
    border: 1px solid var(--search-btn-bg-color);
    border-radius: 4px;
    color: var(--search-btn-color);
    font-size: 14px;
    cursor: pointer;
    transition: var(--theme-switch-dur) ease-out;
    transition-property: background-color, border;
}

.search-btns input:hover {
    box-shadow: 0 1px 1px #0000001a;
    border: 1px solid var(--search-btn-hov-color);
    color: var(--primary-color);
}

.search-btns input:focus {
    border: 1px solid #4285f4;
}

/* LANGUAGES */
.langs-wrapper {
    flex-grow: 1;
    padding: 0 20px;
}

.langs {
    margin-bottom: 24px;
    text-align: center;
    color: var(--langs-color);
    line-height: 28px;
}

.langs a {
    padding: 0 3px;
    color: var(--langs-links-color);
}

/* FOOTER */
footer {
    background-color: var(--footer-bg-color);
    color: var(--secondary-color);
    transition: background-color var(--theme-switch-dur) ease-out;
}

footer a {
    padding: 15px;
    color: var(--secondary-color);
}

.footer-upper {
    padding: 15px 30px;
    font-size: 15px;
    border-bottom: 1px solid var(--footer-partition-color);
    transition: border-bottom var(--theme-switch-dur) ease-out;
}

.footer-lower {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 14px;
}

.footer-lower > div {
    display: flex;
}

@media only screen and (max-width: 500px) {

    header ul, #header-links {
        padding: 0;
        gap: 8px;
    }
    #header-links {
        gap: 10px;
    }
    #header-btns li {
        padding: 0 !important;
    }
    .google-logo-wrapper {
        max-height: 180px;
    }
    .google-logo img {
        width: clamp(160px, 12rem + 4vw, 272px);
    }
    .search-form-wrapper, .langs-wrapper {
        padding: 8px;
    }
    .search-input-wrapper {
        padding: 2px 4px 2px 8px;
    }
    .search-btns {
        padding-top: 8px;
    }
    .footer-upper {
        padding: 12px 16px;
    }
    .footer-lower {
        padding: 0;
        justify-content: center;
    }
    .footer-lower a {
        padding: 12px clamp(8px, 0.45rem + 0.5vw, 12px);
        font-size: 12.5px;
    }
}